<div ng-controller="OrderController">
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active">
          <a href="#" ng-click="handleClick()">
            <b>{{invoiceCode || 'POS Bán Hàng'}}</b>
          </a>
        </li>
      </ul>
      <div id="clock"></div>
    </div>

    <div class="row">
      <!-- Bảng Tìm Kiếm Sản Phẩm -->
      <div class="col-md-8">
        <div class="tile">
          <h5>Tìm kiếm sản phẩm</h5>

          <!-- Tìm kiếm sản phẩm -->
          <div class="form-row mb-3">
            <div class="col-md-4">
              <div class="form-group">
                <label for="productType">Hương vị</label>
                <select class="form-control" id="productType" ng-change="searchMilkDetail()"
                  ng-model="filters.milkTasteId" ng-options="taste.id as taste.milktastename for taste in milktastes">
                  <option value="">Chọn Hương vị</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="brand">Thương hiệu</label>
                <select class="form-control" id="brand" ng-change="searchMilkDetail()" ng-model="filters.milkBrandId"
                  ng-options="brand.id as brand.milkbrandname for brand in Milkbrands">
                  <option value="">Chọn Thương hiệu</option>

                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="warehouse">Độ Tuổi</label>
                <select class="form-control" id="warehouse" ng-change="searchMilkDetail()"
                  ng-model="filters.targetUserId" ng-options="user.id as user.targetuser for user in Targetusers">
                  <option value="">Chọn Độ Tuổi</option>

                </select>
              </div>
            </div>
          </div>

          <!-- 3 ô select dưới -->
          <div class="form-row mb-3">

            <div class="col-md-4">
              <div class="form-group">
                <label for="color">Chọn Loại Sữa</label>
                <select class="form-control" id="color" ng-change="searchMilkDetail()" ng-model="filters.milkTypeId"
                  ng-options="type.id as type.milkTypename for type in Milktypes">
                  <option value="">Chọn Loại Sữa</option>

                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="size">Chọn Dung Tích</label>
                <select class="form-control" id="size" ng-change="searchMilkDetail()" ng-model="filters.usageCapacityId"
                  ng-options="capacity.id as (capacity.capacity + ' ' + capacity.unit) for capacity in usagecapacitys">
                  <option value="">Chọn Dung Tích</option>

                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="size">Chọn đóng gói</label>
                <select class="form-control" id="size" ng-change="searchMilkDetail()" ng-model="filters.packagingUnitId"
                  ng-options="unit.id as unit.packagingunitname for unit in packagingunits">
                  <option value="">Chọn đóng gói</option>

                </select>
              </div>
            </div>
            <button class="btn btn-secondary" ng-click="resetFilters()">Reset</button>

          </div>

          <!-- Bảng hiển thị sản phẩm -->
          <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>Hãng</th>
                  <th>Hương Vị</th>
                  <th>Loại</th>
                  <th>Giá Tiền</th>
                  <th>Dung tích</th>
                  <th>Số lượng</th>
                  <th>Chức Năng</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in Milkdetails">
                  <td>{{ $index + 1 }}</td>
                  <td>{{ item.milkdetailcode }}</td>
                  <td>{{ item.product.productname }}</td>
                  <td>{{ item.product.milkBrand.milkbrandname }}</td>
                  <td>{{ item.milkTaste.milktastename }}</td>
                  <td>{{ item.packagingunit.packagingunitname }}</td>
                  <td>{{ item.price | number:'' }} VNĐ</td>
                  <td>{{ item.usageCapacity.capacity + " " + item.usageCapacity.unit }}</td>
                  <td>{{ item.stockquantity > 0 ? item.stockquantity : 'Hết hàng' }}</td>
                  <td>
                    <button class="btn btn-success btn-sm" ng-click="addItem(item)"
                      ng-disabled="item.stockquantity < 1">
                      <i class="fas fa-plus"></i> Thêm
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination controls -->
          <div class="pagination-controls d-flex justify-content-center align-items-center my-3">
            <button class="btn btn-primary mx-2" ng-disabled="currentPage === 0"
              ng-click="goToFirstPages()">First</button>
            <button class="btn btn-primary mx-2" ng-disabled="currentPage === 0"
              ng-click="previousPages()">Previous</button>
            <span class="mx-2">Page {{ currentPage + 1 }} of {{ pageInfo.totalPages }}</span>
            <button class="btn btn-primary mx-2" ng-disabled="currentPage === pageInfo.totalPages - 1"
              ng-click="nextPages()">Next</button>
            <button class="btn btn-primary mx-2" ng-disabled="currentPage === pageInfo.totalPages - 1"
              ng-click="goToLastPages()">Last</button>
          </div>

          <!-- Reset button -->
        </div>
      </div>







      <!-- Bảng Thông Tin Thanh Toán và Sản Phẩm Khách Hàng Mua -->
      <div class="col-md-4" style="max-height: 750px; overflow-y: auto">
        <div class="tile">

          <form>


            <!-- Sản phẩm đã mua -->
            <h5>Sản phẩm đã mua:</h5>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Dung tích</th>
                    <th>Giá</th>
                    <th>Tổng</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in invoiceDetails">
                    <td>{{item.packagingunitname}} {{item.milkTypename}} {{ item.milkbrandname}} {{ item.milktastename}}
                    </td>
                    <td><input type="number" class="form-control form-control-sm" ng-model="item.quantity" min="1"
                        style="width: 50px" required ng-keyup="updateTotal(item)" /></td>
                    <td>{{ item.capacity}} {{ item.unit}}</td>
                    <td>{{ item.price | number:'' }} VNĐ</td>
                    <td>{{ item.totalAmount | number:'' }} VNĐ</td>
                    <td>
                      <button class="btn btn-danger btn-sm" ng-click="removeProduct(item)">
                        <i class="fas fa-trash-alt"></i> Xóa
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5>Thông tin thanh toán</h5>
            <div class="form-group">
              <label for="customerName">Họ tên khách hàng</label>
              <input type="text" class="form-control" id="customerName" placeholder="Tìm kiếm khách hàng"
                ng-model="fullname" />
            </div>
            <div class="form-group">
              <label for="customerName">Số điện thoại</label>
              <input type="text" class="form-control" id="customerName" placeholder="Tìm kiếm khách hàng"
                ng-model="phoneNumber" />
            </div>
            <!-- Thêm trường chọn thành phố, quận, phường -->
            <div class="form-group">
              <label for="tinhSelect">Tỉnh Thành</label>
              <select id="tinhSelect" class="form-control css_select" ng-model="selectedTinh"
                ng-change="loadQuan(); getTinhName()" ng-options="tinh.id as tinh.name for tinh in tinhs">
                <option value="">Chọn Tỉnh Thành</option>
              </select>
            </div>

            <div class="form-group">
              <label for="quanSelect">Quận Huyện</label>
              <select id="quanSelect" class="form-control css_select" ng-model="selectedQuan"
                ng-change="loadPhuong(); getQuanName(); " ng-options="quan.id as quan.name for quan in quans">
                <option value="">Chọn Quận Huyện</option>
              </select>
            </div>

            <div class="form-group">
              <label for="phuongSelect">Phường Xã</label>
              <select id="phuongSelect" class="form-control css_select" ng-model="selectedPhuong"
                ng-change="getPhuongName(); amountShip()" ng-options="phuong.id as phuong.name for phuong in phuongs">
                <option value="">Chọn Phường Xã</option>
              </select>
            </div>


            <div class="form-group">
              <form>
                <div class="form-floating mb-4 theme-form-floating">
                  <label for="detailAddress">Địa Chỉ Chi Tiết</label>
                  <input type="text" class="form-control" id="detailAddress" ng-model="detailAddress" placeholder=" " />
                </div>
              </form>
            </div>
            <div class="form-group">
              <label for="phuongSelect">Đơn Vị Vận Chuyển</label>
              <select class="form-control css_select" ng-model="selectedShip" ng-change="selectedShipping(selectedShip)"
                ng-options="x as (x.carrier_name + ' - Giao Hàng ' + x.service + ' - ' + x.expected) for x in ships">
                <option value="" disabled selected>Chọn Đơn Vị Vận Chuyển</option>
              </select>
            </div>
            <div class="form-group">
              <label for="shippingFee">Phí ship</label>
              <input type="text" class="form-control" id="shippingFee" ng-model="selectedShip.total_fee" value="0" />
            </div>
            <div class="form-group">
              <label for="totalAmount">Tạm tính tiền hàng</label>
              <input type="text" class="form-control" id="totalAmount"
                value="{{ calculateTotalInvoiceAmount() | number:'' }} VNĐ" disabled />
            </div>

            <div class="form-group text-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Đóng
              </button>
                <button type="button" class="btn btn-danger">Xóa</button>
                  <button type="button" class="btn btn-primary">Duyệt</button>
                  <button type="submit" class="btn btn-success">
                    Lưu đơn hàng
                  </button>
                </div>

        </div>
        </form>
      </div>
    </div>
</div>