<div class="app app-ban-hang">
    <div class="row">
        <div class="col-md-12">
            <div class="app-title">
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home" class="back-icon"><i class="fa fa-home"></i> <b>POS bán hàng</b></a>
                    </li>
                </ul>
                <div id="clock"></div>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- Sản phẩm -->
        <div class="col-md-8">
            <div class="tile">
                <h3 class="tile-title">Danh sách sản phẩm</h3>
                <div class="row">
                    <!-- 3 ô select box trên cùng -->
                    <div class="col-md-4">
                        <label class="control-label">Tìm kiếm nâng cao</label>
                        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm để tìm kiếm...">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Loại </label>
                        <select class="form-control">
                            <option>Loại SP</option>
                            <option>Loại 1</option>
                            <option>Loại 2</option>
                            <option>Loại 3</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Hãng</label>
                        <select class="form-control">
                            <option>Thương hiệu</option>
                            <option>Thương hiệu A</option>
                            <option>Thương hiệu B</option>
                            <option>Thương hiệu C</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Đối Tượng</label>
                        <select class="form-control">
                            <option>Kho</option>
                            <option>Kho 1</option>
                            <option>Kho 2</option>
                            <option>Kho 3</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <!-- 4 ô select box dưới cùng -->
                    <div class="col-md-3">
                        <label class="control-label">Sản Phẩm</label>
                        <select class="form-control">
                            <option>Giá trị</option>
                            <option>Giá trị 1</option>
                            <option>Giá trị 2</option>
                            <option>Giá trị 3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Vị</label>
                        <select class="form-control">
                            <option>Nhóm SP</option>
                            <option>Nhóm 1</option>
                            <option>Nhóm 2</option>
                            <option>Nhóm 3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Dung Tích</label>
                        <select class="form-control">
                            <option>Màu sắc</option>
                            <option>Đỏ</option>
                            <option>Xanh</option>
                            <option>Vàng</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Đóng Gói</label>
                        <select class="form-control">
                            <option>Chất liệu</option>
                            <option>Gỗ</option>
                            <option>Kim loại</option>
                            <option>Nhựa</option>
                        </select>
                    </div>
                </div>

                <div class="du--lieu-san-pham mt-4">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th class="so--luong">Mã hàng</th>
                            <th class="so--luong">Tên sản phẩm</th>
                            <th class="so--luong">Ảnh</th>
                            <th class="so--luong" width="10">Số lượng</th>
                            <th class="so--luong">Giá bán</th>
                            <th class="so--luong text-center" style="text-align: center; vertical-align: middle;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>71309005</td>
                            <td>Bàn ăn gỗ Theresa</td>
                            <td><img src="/img-sanpham/reno.jpg" alt="" width="50px;"></td>
                            <td><input class="so--luong1" type="number" value="2"></td>
                            <td>5.600.000 VNĐ</td>
                            <td style="text-align: center; vertical-align: middle;">
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- Thêm các sản phẩm khác nếu cần -->
                        </tbody>
                    </table>
                </div>
                <div class="alert">
                    <i class="fas fa-exclamation-triangle"></i> Gõ mã hoặc tên sản phẩm vào thanh tìm kiếm để thêm hàng vào đơn hàng
                </div>
            </div>

            <div class="tile">
                <h3 class="tile-title">Danh sách giỏ hành</h3>
                <input type="text" id="myInput" onkeyup="myFunction()"
                       placeholder="Nhập mã sản phẩm hoặc tên sản phẩm để tìm kiếm...">
                <div class="du--lieu-san-pham">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th class="so--luong">Mã hàng</th>
                            <th class="so--luong">Tên sản phẩm</th>
                            <th class="so--luong">Ảnh</th>
                            <th class="so--luong" width="10">Số lượng</th>
                            <th class="so--luong">Giá bán</th>
                            <th class="so--luong text-center" style="text-align: center; vertical-align: middle;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>71309005</td>
                            <td>Bàn ăn gỗ Theresa</td>
                            <td><img src="/img-sanpham/reno.jpg" alt="" width="50px;"></td>
                            <td><input class="so--luong1" type="number" value="2"></td>
                            <td>5.600.000 VNĐ</td>
                            <td style="text-align: center; vertical-align: middle;">
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- Thêm các sản phẩm khác nếu cần -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- Giỏ hàng / Thông tin thanh toán -->
        <div class="col-md-4">
            <div class="tile">
                <h3 class="tile-title">Thông tin thanh toán</h3>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="control-label">Họ tên khách hàng</label>
                        <input class="form-control" type="text" placeholder="Tìm kiếm khách hàng">
                    </div>
                    <div class="form-group col-md-2">
                        <label style="text-align: center;" class="control-label">Tạo mới</label>
                        <button class="btn btn-primary btn-them" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-user-plus"></i>
                        </button>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhân viên bán hàng</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>--- Chọn nhân viên bán hàng ---</option>
                            <option>Võ Trường</option>
                            <option>Nhật Kim Anh</option>
                            <option>Đào Thanh Tuấn</option>
                            <option>Phạm Phong Phú</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Ghi chú đơn hàng</label>
                        <textarea class="form-control" rows="4" placeholder="Ghi chú thêm đơn hàng"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Hình thức thanh toán</label>
                        <select class="form-control" id="exampleSelect2" required>
                            <option>Thanh toán chuyển khoản</option>
                            <option>Trả tiền mặt tại quầy</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Tạm tính tiền hàng: </label>
                        <p class="control-all-money-tamtinh">= 129.397.213 VNĐ</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Giảm giá (F7): </label>
                        <input class="form-control" type="number" value="0">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Tổng cộng thanh toán: </label>
                        <p class="control-all-money-total">= 129.397.213 VNĐ</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Khách hàng đưa tiền (F8): </label>
                        <input class="form-control" type="number" value="290000">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Khách hàng còn nợ: </label>
                        <p class="control-all-money"> - 129.397.213 VNĐ</p>
                    </div>
                    <div class="tile-footer col-md-12">
                        <button class="btn btn-primary luu-san-pham" type="button"> Lưu đơn hàng (F9)</button>
                        <button class="btn btn-primary luu-va-in" type="button">Lưu và in hóa đơn (F10)</button>
                        <a class="btn btn-secondary luu-va-in" href="/home">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
MODAL
-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
          <span class="thong-tin-thanh-toan">
            <h5>Tạo mới khách hàng</h5>
          </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Họ và tên</label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Địa chỉ</label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Ngày sinh</label>
                        <input class="form-control" type="date" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Số điện thoại</label>
                        <input class="form-control" type="number" required>
                    </div>
                </div>
                <BR>
                <button class="btn btn-save" type="button">Lưu lại</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <BR>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--
MODAL
-->


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">X</span>
        </div>


    </div>

</div>
