<div ng-controller="DonHangController">
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active">
          <a href="#"><b>Đơn hàng</b></a>
        </li>
      </ul>
      <div id="clock"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <!-- Search Form -->

            <!-- Display error if start date and end date are mismatched -->

            <!-- Invoice Table -->
            <div style="overflow-x: auto; max-height: 600px; margin-top: 10px">
              <table
                class="table table-hover table-bordered"
                id="sampleTable"
                style="width: 100%; table-layout: auto"
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Mã hóa đơn</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Phương thức thanh toán</th>
                    <th>Số điện thoại</th>
                    <th>Ngày tạo</th>
                    <th>Số tiền giảm giá</th>
                    <th>Tổng tiền</th>
                    <th>Tình trạng</th>
                    <th>Tính năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="invoice in invoices">
                    <td>{{ invoice.invoiceID}}</td>
                    <td>{{ invoice.invoiceCode }}</td>
                    <td>{{ invoice.deliveryaddress }}</td>
                    <td>{{ invoice.paymentmethod }}</td>
                    <td>{{ invoice.phonenumber }}</td>
                    <td>{{ invoice.ngayTao | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ invoice.sotienGiamGia | number:'' }} VNĐ</td>
                    <td>{{ invoice.tongTien | number:'' }} VNĐ</td>
                    <td>{{getStatus(invoice.trangThai) }}</td>
                    <td>
                      <button
                        ng-click="invoiceOk(invoice.invoiceID)"
                        class="btn btn-info btn-sm"
                      >
                        <i class="fas fa-check"></i>
                      </button>
                      <button
                        ng-click="deleteOrRollbackItem('Invoice', invoice.invoiceID)"
                        class="btn btn-danger btn-sm"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      <button
                        class="btn btn-primary btn-sm edit"
                        type="button"
                        title="Sửa"
                        ng-click="navigateToInvoiceDetail(invoice.invoiceCode)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Modal Structure -->
  <div
    class="modal fade"
    id="ModalUP"
    tabindex="-1"
    role="dialog"
    aria-labelledby="ModalUPLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalUPLabel">
            Cập nhật thông tin đơn hàng
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="updateForm">
            <div class="form-group">
              <label for="invoiceCode">Mã hóa đơn</label>
              <input
                type="hidden"
                class="form-control"
                id="id"
                ng-model="id"
                disabled
              />
              <input
                type="text"
                class="form-control"
                id="invoiceCode"
                ng-model="invoiceCode"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="fullname">fullname</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                ng-model="fullname"
                ng-disabled="!isEditable"
              />
            </div>
            <div class="form-group">
              <label for="deliveryAddress">Địa chỉ giao hàng</label>
              <input
                type="text"
                class="form-control"
                id="deliveryAddress"
                ng-model="deliveryAddress"
                ng-disabled="!isEditable"
              />
            </div>

            <div class="form-group">
              <label for="phoneNumber">Số điện thoại</label>
              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                ng-model="phoneNumber"
                ng-disabled="!isEditable"
              />
            </div>

            <h6>Chi tiết sản phẩm:</h6>
            <div
              class="table-responsive"
              style="max-height: 400px; overflow-x: auto"
            >
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Vị</th>
                    <th>Mô tả</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Tổng Đơn Giá</th>
                    <th ng-show="isEditable">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in items">
                    <td>{{ item.milkTasteName }}</td>
                    <td>{{ item.milkDetailDescription }}</td>

                    <td>
                      <div
                        class="input-group input-group-sm"
                        ng-show="isEditable"
                      >
                        <div class="input-group-prepend">
                          <button
                            class="btn btn-outline-secondary btn-sm"
                            type="button"
                            ng-click="decreaseQuantity(item)"
                          >
                            -
                          </button>
                        </div>
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          ng-model="item.quantity"
                          min="0"
                          style="width: 50px"
                          ng-change="checkStockQuantity(item)"
                          required
                        />
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline-secondary btn-sm"
                            type="button"
                            ng-click="increaseQuantity(item)"
                          >
                            +
                          </button>
                        </div>
                      </div>
                      <span ng-show="!isEditable">{{ item.quantity }}</span>
                    </td>

                    <td>
                      <span>{{ item.price | number:'' }} VNĐ</span>
                    </td>

                    <td>{{ item.totalAmount | number:'' }} VNĐ</td>

                    <td ng-show="isEditable">
                      <button
                        class="btn-danger btn-sm"
                        type="button"
                        ng-show="isEditable"
                        ng-click="removeItem(item)"
                      >
                        xóa
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
              <tr>
                <td colspan="4" class="text-right">
                  <strong>Tổng tiền hóa đơn:</strong>
                </td>
                <td>
                  <strong
                    >{{ calculateTotalInvoiceAmount() | number:'' }} VNĐ</strong
                  >
                </td>
              </tr>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="updateInvoice()"
            ng-show="isEditable"
          >
            Lưu thay đổi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
