<div ng-controller="indexController">
    
<main class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="app-title">
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu    </b></a></li>
          </ul>
          <div id="clock"></div>
        </div>
      </div>
    </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                    <div class="info">
                        <h4>Tổng Nhân viên</h4>
                        <p><b>26 nhân viên</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x' ></i>
                    <div class="info">
                        <h4>Tổng sản phẩm</h4>
                        <p><b>{{countmilkdetail}} sản phẩm</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
                    <div class="info">
                        <h4>Tổng đơn hàng</h4>
                        <p><b>{{countinvoice}} đơn hàng</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle' ></i>
                    <div class="info">
                        <h4>Bị cấm</h4>
                        <p><b>4 nhân viên</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart' ></i>
                    <div class="info">
                        <h4>Tổng thu nhập</h4>
                        <p><b>{{ invoiceSummary.totalAmount | number:''}} VNĐ</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge' ></i>
                    <div class="info">
                        <h4>Nhân viên mới</h4>
                        <p><b>3 nhân viên</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-tag-x' ></i>
                    <div class="info">
                        <h4>Hết hàng</h4>
                        <p><b>{{countend}} sản phẩm</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt' ></i>
                    <div class="info">
                        <h4>Đơn hàng hủy</h4>
                        <p><b>2 đơn hàng</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">SẢN PHẨM BÁN CHẠY</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="milkSalesTable">
                            <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>

                                <th>Vị sữa</th>
                                <th>Đơn vị bao bì</th>
                                <th>Công suất</th>
                                <th>Đơn vị công suất</th>
                                <th>Tổng doanh thu</th>
                                <th>Tổng số lượng bán</th>
                            </tr>
                            </thead>
                            <tbody style="max-height: 400px;">
                            <tr ng-repeat="item in milkSalesDetails">
                                <td>{{ item.id }}</td>
                                <td>{{ item.productName }}</td>
                                <td>{{ item.milkTasteName }}</td>
                                <td>{{ item.packagingUnitName }}</td>
                                <td>{{ item.capacity }}</td>
                                <td>{{ item.capacityUnit }}</td>
                                <td>{{ item.totalSalesValue | number:''}} VNĐ</td>
                                <td>{{ item.totalQuantity }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">TỔNG ĐƠN HÀNG</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>ID đơn hàng</th>
                                <th>Khách hàng</th>
                                <th>Đơn hàng</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="invoice in invoiceSummary.invoices">
                                <td>{{ invoice.invoiceCode }}</td>
                                <td>{{ 'Khách hàng' }} </td> <!-- You can replace with customer data if available -->
                                <td>{{ 'Đơn hàng' }} </td>  <!-- You can replace with item names if available -->
                                <td>{{ invoice.totalQuantity }} sản phẩm</td>
                                <td>{{ invoice.totalAmount | number:''}} VNĐ</td>
                            </tr>
                            <tr>
                                <th colspan="4">Tổng cộng:</th>
                                <td>{{ invoiceSummary.totalAmount | number:''}} VNĐ</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div>
                            <h3 class="tile-title">SẢN PHẨM ĐÃ HẾT</h3>
                        </div>
                        <div class="tile-body">
                            <table class="table table-hover table-bordered" id="sampleTable">
                                <thead>
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Loại Sản Phẩm</th>
                                        <th>Hãng</th>
                                        <th>Độ Tuổi</th>
                                        <th>Hương Vị</th>
                                        <th>Loại</th>
                                        <th>Giá Tiền</th>
                                        <th>Dung tích</th>

                                        <th>Hình ảnh</th>
                                        <th>Chức Năng</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="milkdetail in milks">
                                        <td>{{milkdetail.milkdetailcode}}</td>
                  <td>{{milkdetail.product.productname}}</td>
                  <td>{{milkdetail.product.milkType.milkTypename}}</td>
                  <td>{{milkdetail.product.milkBrand.milkbrandname}}</td>
                  <td>{{milkdetail.product.targetUser.targetuser}}</td>
                  <td>{{milkdetail.milkTaste.milktastename}}</td>
                  <td>{{milkdetail.packagingunit.packagingunitname}}</td>
                  <td>{{milkdetail.price | currency:"VNĐ "}}</td>
                  <td>{{milkdetail.usageCapacity.capacity + " " + milkdetail.usageCapacity.unit}}</td>

                  <td><img ng-src="{{milkdetail.imgUrl}}" alt="Milk Image" style="width: 50px; height: 50px;" /></td>
                                        <td>
                                            <button class="btn btn-sm btn-info" type="button"  data-toggle="modal" data-target="#ModalStockUpdate" ng-click="updateStock(milkdetail.id)">
                                                <i class="fas fa-pen"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">Biểu đồ thống kê theo tháng</h3>
                </div>
                <div class="tile-body">
                    <!-- Date Range Picker -->
                    <div class="form-group">
                        <label for="startDate">Ngày bắt đầu:</label>
                        <input type="datetime-local" id="startDate" ng-model="startDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="endDate">Ngày kết thúc:</label>
                        <input type="datetime-local" id="endDate" ng-model="endDate" class="form-control">
                    </div>

                    <!-- Error message if dates are not selected -->
                    <div ng-if="!startDate || !endDate" class="text-danger">
                        <small>Cả ngày bắt đầu và ngày kết thúc phải được chọn!</small>
                    </div>

                    <!-- Button to trigger the fetch -->
                    <button ng-click="fetchMonthlyStatistics()" class="btn btn-primary" ng-disabled="!startDate || !endDate">Tải dữ liệu</button>

                    <!-- Display Total Revenue -->
                    <div class="form-group mt-3">
                        <label for="totalRevenue">Tổng doanh thu:</label>
                        <input type="text" id="totalRevenue" ng-model="totalRevenue" class="form-control" readonly>
                    </div>

                    <!-- Chart -->
                    <canvas id="myChart" style="width: 40px"></canvas>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">Lịch sử giao dịch</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="transactionTable">
                        <thead>
                        <tr>
<!--                            <th>Ngày đăng</th>-->
                            <th>Ngày giao dịch</th>
                            <th>Số tài khoản</th>
                            <th>Số tiền ghi có</th>
                            <th>Tiền tệ</th>
                            <th>Nôi Dung</th>
                            <th>Mã giao dịch</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="transaction in transactionHistoryList">
                            <td>{{ transaction.transactionDate }}</td>
                            <td>{{ transaction.accountNo }}</td>
                            <td>{{ transaction.creditAmount }}</td>
                            <td>{{ transaction.currency }}</td>
                            <td>{{ transaction.description }}</td>
                 <td>{{ transaction.refNo }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu</b></a></li>
                    </ul>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
        
        <div class="row mb-4" ng-controller="ChartController">
            <div class="col-md-6">
                <div class="tile shadow-sm p-3 bg-white rounded">
                    <h3 class="tile-title text-center">Dữ Liệu Của {{ currentMonth }}</h3>
                    <div class="embed-responsive">
                        <canvas id="dailyRevenueChart"></canvas>                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile shadow-sm p-3 bg-white rounded">
                    <h3 class="tile-title text-center">Thống Kê Doanh Số</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                    </div>
                </div>
            </div>
        </div>

<div class="modal fade" id="ModalStockUpdate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <h5>Cập nhật số lượng sản phẩm</h5>
                    </div>
                </div>
                <!-- Stock Quantity -->
                <div class="form-group col-md-12">
                    <label  class="control-label">Số lượng mới</label>
                    <input class="form-control" type="number" ng-model="formData.newStockQuantity" required>
                </div>

                <!-- Save Button for Updating Stock -->
                <button class="btn btn-save" type="button" ng-click="saveStockUpdate(formData)">
                    Cập nhật số lượng
                </button>
                <button class="btn btn-save" type="button" ng-click="resetForm()">Làm mới</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#" ng-click="resetForm()">Hủy bỏ</a>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
</div>

