<div ng-controller="ContentController">
  <main class="app-content">
    <!-- Header Section -->
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active">
          <a href="#"><b>Danh sách Nội Dung</b></a>
        </li>
      </ul>
      <div id="clock"></div>
    </div>

    <div class="row">
      <!-- Main Content Section -->
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Quản lý nội dung</h3>
          <div class="tile-body">
            <!-- Modal Triggers -->
            <div class="text-right mb-3">
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#setBannerModal"
              >
                Set Banner
              </button>
              <button
                class="btn btn-secondary"
                data-toggle="modal"
                data-target="#advertiseProgramModal"
              >
                Gửi Chương Trình Quảng Cáo
              </button>
            </div>

            <!-- Table Section -->
            <div style="overflow-x: auto; margin-top: 20px">
              <table
                class="table table-hover table-bordered text-center"
                id="contentTable"
                style="width: 100%"
              >
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>URL</th>
                    <th>Banner</th>
                    <th width="150">Tính năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in contents track by $index">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.url}}</td>
                    <td>
                      {{ item.banner == 1 ? "Banner to" : (item.banner == 2 ?
                      "Banner nhỏ" : "Không xác định") }}
                    </td>
                    <td>
                      <button
                        ng-click="deleteItem(item.id)"
                        class="btn btn-danger btn-sm mx-1"
                      >
                        Xóa
                      </button>
                      <button
                        ng-click="editItem(item)"
                        class="btn btn-primary btn-sm mx-1"
                      >
                        Sửa
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Set Banner -->
    <div
      class="modal fade"
      id="setBannerModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="setBannerModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="setBannerModalLabel"
              style="color: black"
            >
              Set Banner
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Tên:</label>
              <input
                type="text"
                ng-model="formData.name"
                class="form-control"
                placeholder="Nhập tên"
              />
            </div>

            <div class="form-group">
              <label for="upload">Upload file:</label>
              <input
                type="file"
                id="upload"
                class="form-control"
                ng-model="formData.upload"
                onchange="angular.element(this).scope().uploadImage(this.files)"
                accept="image/*"
              />
              <small class="text-muted">
                Chỉ chấp nhận kích thước 1590x200px hoặc 1590x482px.
              </small>
            </div>
            <input type="hidden" ng-model="formData.imgUrl" />

            <div class="form-group">
              <label for="selectBox2">Kiểu banner:</label>
              <select
                class="form-control"
                id="selectBox2"
                ng-model="formData.selectBox2"
              >
                <option value="1">Banner to</option>
                <option value="2">Banner nhỏ</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button
              type="button"
              class="btn btn-success"
              ng-click="addOrUpdateItem()"
            >
              Lưu lại
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Advertise Program -->
    <div
      class="modal fade"
      id="advertiseProgramModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="advertiseProgramModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="advertiseProgramModalLabel"
              style="color: black"
            >
              Gửi Chương Trình Quảng Cáo
            </h5>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="msg">Tin nhắn:</label>
              <textarea
                ng-model="formData.msg"
                class="form-control"
                placeholder="Nhập tin nhắn"
              ></textarea>
            </div>

            <div class="form-group">
              <label for="uploadMsg">Upload file:</label>
              <input
                type="file"
                id="uploadMsg"
                class="form-control"
                ng-model="formData.uploadMsg"
                onchange="angular.element(this).scope().uploadImages(this.files)"
                accept="image/*"
              />
              <small class="text-muted"> Chỉ chấp nhận định dạng ảnh. </small>
            </div>
            <input type="hidden" ng-model="formData.imgUrl" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-click="saveImageData()"
            >
              Gửi Dữ Liệu
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
